{
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "orderedImports": true,
    "semi": true,
    "doubleQuote": false,
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "trailingComma": "all"
}
